@font-face {
  font-family: 'Lilita One';
  src:  url('fonts/LilitaOne.woff') format('woff'),
        url('fonts/LilitaOne.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root{
  --colorPrimary: #F39325;
  --colorSecondary: #5EA6DE;
  --colorTertiary: #9AC0DE;
  --colorLight: #FFFFFF;
  --colorPanelBackground: #F8F8F8;
  --colorTextMuted: #9E9E9E;
  --colorTextDark: #333;
  --colorShadow: rgba(60, 89, 123, 0.6);

  --fontSizeDefault: 18px;

}
